<!DOCTYPE html>
<html>
<head>
	<style>
		button{
			font-size: 30px;
		}
		button:hover{
				font-size: 40px;
				background-color: #FFA600;
		}
		
		body{
			background-color:#FFA600;
			font-size: 30px;
		}
		form{
			background-color: gold;
			width:500px;
			border:3px solid black;
		}
		

	</style>
	<title>Add Blog</title>
</head>
<body><center>
		<form action="/savee/">
			<h1>Add Blog</h1>
			Writer:- <input type="text" name="writer">
			<br><br>
			Blog:- <input type="text" name="blog">
			<br><br>
			Sold Rate:- <input type ="number" name="price">
			<br><br>
			No of Blog:- <input type="number" name="noblog">
			<br><br>
			<button>Submit</button><br><br>
		</form>
	</center>
</body>
</html>