<!DOCTYPE html>
<html>
<head>
	<style>
		button{
			font-size: 30px;
		}
		
		body{
			background-color:#FFA500;
			font-size: 30px;
		}
		button:hover{
				font-size: 40px;
				background-color: #F4A460;
		}
		
		

	</style>
	<title>Home Page</title>
</head>
<body><center>
	<h1>Blogging App</h1>
	
		<form action="addb">
			<button>Add Blog</button>
		</form>
		<br><br>
		<form action="displayy">
			<button>Display Blog</button>
		</form>
	
	</center>
	<!-- <a href="addb"> -->
</body>
</html>